*{
  font-family: Lemon;
}
body{
  background-color: #b9af394a;
  width: 100%;
  padding:0;
  margin:0;
  
}
h1 {
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 4px;
}

.title {
  background: url('./planet.jpg');
  height: 150px;
  align-items: center;
  width:100%;
  margin:0;
  padding:20px;

}
.title h1{
  margin: 0;
  text-shadow: 2px 2px 6px rgb(129, 87, 39);
  text-align: center;
  color:rgba(240, 238, 233, 0.878)
}


.flex-container{
  
  height:10vh;
  justify-content: center;
  font-size: 1.5rem;
  padding:20px;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
}
.radioItem{
display: flex;
margin:10px;
}
.name{
  display: flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  width:100%;
  margin:10px;
  /* flex-wrap: wrap; */
}


.col-3{
  width:calc(100% * 3 /12);
}
.col-4{
  width:calc(100% * 4 /12);
}
.col-6{
  width:calc(100% * 6 /12);
}

.countryFlagImg{
  margin:20px;
  text-align:center;
}

.chooseButton{
    box-shadow: 3px 2px #03a9f4a3;
    margin:20px;
    color:rgb(43, 137, 226)  
}
.chooseButtonNext{
  color:rgb(226, 116, 43)  
}
.MuiButton-label-2{
  color: #e9145b;
  font-style: italic;
  font-weight: bold;  
  font-size: 20px;
  

}
.MuiTouchRipple-root-28{
  background: #2f597a4d;
}

.score{

  padding: 1.1rem;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  color: rgb(140, 127, 255);
}
.win {
  text-align: center;
  margin: 10px;
  font-size: 5rem;
  letter-spacing: 3px;
  color: rgba(38, 204, 102, 0.849);
  flex-wrap: wrap;
  line-height: 1.5;
  

}
@media screen and (max-width:700px){
  [class^="col-"]{
  width:60%;
  padding:20px
}
.title{
  width:100%;
  text-align:center;
  justify-content: center;
  align-items: center;
}


}
@media screen and (max-width:500px){
  [class^="col-"]{
  width:100%;
  padding:10px;
}
.title{
  width:100%;
  text-align:center;
  justify-content: center;
  align-items: center;
}
.radioItem{
  display: block;
}
.choiceFlag{
  display: block;
  text-align: center;
}
.name{
  flex-wrap: wrap;
}
}

.countryname:hover {
  color: rgba(77, 50, 28, 0.89);
}

.inNextCountryFlagImg{
  text-align: center;
 
}
footer {
  padding:10px;
  line-height: -10px;
  background:url('https://picsum.photos/2500/500?image=733');
  position:fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  height:70px;
  }

.img-container img{
  position:relative;
  width:200px;
  height:100px;
  margin-bottom:100px
}

@media screen and (min-width:500px){
  .img-container img{
    position: relative;
    width: 300px;
    height: 400px;
    margin-bottom: 100px;
  }

  .name{

    margin-top: 100px;

  }

}

.countryname:hover {
  /* color: #E91E63; */
  color: brown;
}
/* loading */

.shadow {
	position:absolute;
	top:50%;
	left:50%;
	border-radius:50%;
	margin-top:-50px;
	margin-left:-50px;
	box-shadow:-2px 2px 10px 0 rgba(0,0,0,0.5),
						 2px -2px 10px 0 rgba(255,255,255,0.5);
}

.loader {
    background: -webkit-linear-gradient(left, skyblue 50%, #fafafa 50%); /* Foreground color, Background colour */
    border-radius: 100%;
    height: 50px; /* Height and width */
    width: 50px; /* Height and width */
    animation: time 8s steps(500, start) infinite;
}
.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    animation: mask 8s steps(250, start) infinite;
    transform-origin: 100% 50%;
}
@-webkit-keyframes time {
    100% { 
        transform: rotate(360deg);
    }
}
@-webkit-keyframes mask {
    0% {
        background: #fafafa; /* Background colour */
        transform: rotate(0deg);
    }
    50% {
        background: #fafafa; /* Background colour */
        transform: rotate(-180deg);
    }
    50.01% {
        background: skyBlue; /* Foreground colour */
        transform: rotate(0deg);
    }
    100% {
        background: skyBlue; /* Foreground colour */
        transform: rotate(-180deg);
    }
}
